$white: #FFF;
$gray: #ddd;
$dark-gray: #454545;
$black: #000;
$blue: #007bff;
$dark-blue: #0056b3;
$bg-main: #313131;

/*Navigation*/
$nav-dark-gray:#2C2C2C;
$nav-pink:#CF89FC;
$nav-yellow:#E4A636;
$nav-green:#66E17F;
$nav-blue:#4E92F9;
$nav-red:#F73138;
$nav-light-yellow:#F1D000;
$nav-light-blue:#40F5DC;

/*Header*/
$h-blue:#2E7AB6;
$m-top:#999999;
$h-menu:#f1f1f1;
$gray-border:#b9b7b7;
$light-gray-border:#e5e5e5;

/*Items Card*/
$item-green: #2AF589;
$item-blue:#4E92F9;
$item-yellow:#E4A636;
$item-red:#F3545F;

/*Base*/
$font-face: "Open Sans", sans-serif;



