@use '../../../styles/variables.scss' as *;

.navbar {
  background-color:$black;
  width:15%;
  float:left;
  height: 150vh;
  padding: 15px 0;
  text-align: center;
}

.nav-header {
  padding: 10px 20px;
}

.navbar img {
  margin:15px 0;
}

.navbar ul {
    width: auto;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.navbar li {
  line-height: 2.5;
  color:$white;
  font-weight: 600;
  text-decoration: none;
  margin:5px 0;
  padding:0 15px;
}

.navbar a {
  text-decoration: none;
}

.navbar li a {
  text-decoration: none;
  color:$white;
  font-size: 13px;
  text-decoration: none;
}


.navbar span {
  vertical-align: middle;
}

aside {
  width:100%;
  background-color: $black;
}

.search-container input {
  padding: 8px;
  width: 300px;
  border: 1px solid $gray;
  border-radius: 50px;
  font-size: 16px;
  color:$white;
}

.navbar hr {
  border:0;
  border-bottom: 1px solid $dark-gray;
}

.navbar .badge {
  border: 1px solid $white;
  color: $white;
  padding: 5px 5px;
  text-align: center;
  border-radius: 50%;
  float: right;
  vertical-align: middle;
  line-height: 1.2;
  font-size: 12px;
  vertical-align: middle;
  margin: 7px 0;
}

/*submenu*/
.mainmenu li.m1:hover a{background-color:$nav-dark-gray; color:$nav-pink; border-left:4px solid $nav-pink; }
.mainmenu li.m2:hover a{background-color:$nav-dark-gray; color:$nav-yellow; border-left:4px solid $nav-yellow;}
.mainmenu li.m3:hover a{background-color:$nav-dark-gray; color:$nav-green; border-left:4px solid $nav-green;}
.mainmenu li.m4:hover a{background-color:$nav-dark-gray; color:$nav-blue; border-left:4px solid $nav-blue;}
.mainmenu li.m5:hover a{background-color:$nav-dark-gray; color:$nav-red; border-left:4px solid $nav-red;}
.mainmenu li.m6:hover a{background-color:$nav-dark-gray; color:$nav-light-yellow; border-left:4px solid $nav-light-yellow;}
.mainmenu li.m6:hover a .badge{background-color:$nav-light-yellow; color:$nav-dark-gray; border-left:4px solid $nav-light-yellow;}
.mainmenu li.m7:hover a {background-color:$nav-dark-gray; color:$nav-light-blue; border-left:4px solid $nav-light-blue;}
.mainmenu li.m3:hover .submenu a{ background:$black; color:$nav-green; border-left:4px solid $black}


.navigation {
  width: 100%;
  padding: 0;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  text-decoration: none;
  padding:5px 10px;
}


.mainmenu li {
  padding: 0;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
  padding: 0;
  color:$white;
}

.submenu a:hover {
  color:$nav-green;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}


/*Mobile*/
.dropdown {
  display: none;
}


.navigation {
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu-top {display: block;}
  .navbar {
    width: 100%;
    padding: 0;
    height: auto;
  }

  .nav {
    display: none;
  }

  .navigation {
    display: none;
  }

  .dropbtn {
    color: $white;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: $dark-gray;
    text-align: left;
    display: block;
  }

  .dropdown {
    width: 100%;
    background-color: $dark-gray;
    position: relative;
    display: inline-block;
    text-align: left;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: $gray;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: $light-gray-border; }

  .dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
    color:$white;
    background-color: $dark-gray;
  }

  .dropdown:hover .dropbtn {
    background-color: $dark-gray;
    color:$white;
    width:100%;
  }

  .dropdown a {
    color:$white;
  }



}
