<header>
      <div class="grid-4">
        <a routerLink="/dashboard"><img src="./app/assets/tecwin.png" alt="TECWIN"></a>
      </div>

      <div class="grid-8">
          <div class="minimenu">
            <p>
              Bem vindo João Silva, <br />
              Sistema atualizado em 24/06/2024.
            </p>
            <span class="material-symbols-outlined">mail</span>
            <span class="material-symbols-outlined">settings</span>
            <span class="material-symbols-outlined">info</span>
            <span class="material-symbols-outlined">mark_chat_unread</span>
            <span class="material-symbols-outlined">disabled_by_default</span>
          </div>
      </div>
</header>

<section class="menu-top">
  <ul>
      <li>Home</li>
      <li>Pesquisas</li>
      <li>MCM</li>
      <li>NESH</li>
      <li>Retrospectiva</li>
      <li>Legislação</li>
      <li>Acordos</li>
      <li>Apêndices</li>
      <li>Planilha</li>
      <li>TEC - Alert</li>
      <li>Di Alert</li>
      <li>Manual do Usuário</li>
  </ul>
</section>
