header {
  background-color: #2E7AB6;
  width: 100%;
  height:auto;
  display: flex;
}


header p {
  margin:40px 20px;
  font-size: 16px;
}

header img {
  margin: 30px 20px;
}


.menu-top {
  margin: 0;
  width: 100%;
  height: 45px;
  background: #999999;
  background: linear-gradient(360deg,rgba(153, 153, 153, 1) 0%, rgba(207, 204, 204, 1) 24%, rgba(242, 237, 237, 1) 100%);
}

.menu-top ul li {
  display: inline-block;
  margin: 10px 0;
}

.menu-top ul {
  margin: 0;
  padding: 0;
}
.menu-top li {
  padding: 5px 15px;
  border-right: 1px solid #b9b7b7;
  border-left:1px solid #e5e5e5;
}

.menu-top li:last-child {
  padding: 5px 15px;
  border-right: 0px solid #b9b7b7;
  border-left:1px solid #e5e5e5;
}


.minimenu  {
  float:right;
  list-style: none;
  display: inline-flex;
  vertical-align: middle;
  padding: 0 20px;
}

.minimenu span , .minimenu p{
 margin: 50px 5px 0 5px;
}


.minimenu .material-symbols-outlined {
  font-size: 36px;

  color:#225A9A;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  header {
    justify-content: center;
    text-align: center;
  }

  header div:last-child {
    display: none;
  }

  .menu-top {display: none;}

}
