<header>
  <a routerLink="/dashboard"><img src="/assets/tecwin.png" alt="TECWIN"></a>

  <p>
    Bem vindo João Silva, <br />
    Sistema atualizado em 24/06/2024.
  </p>

  <ul class="minimenu">
    <li><span class="material-symbols-outlined">settings</span></li>
    <li><span class="material-symbols-outlined">settings</span></li>
    <li><span class="material-symbols-outlined">settings</span></li>
  </ul>
</header>
<section class="menu-top">
  <ul>
      <li>Home</li>
      <li>Pesquisas</li>
      <li>MCM</li>
      <li>NESH</li>
      <li>Retrospectiva</li>
      <li>Legislação</li>
      <li>Acordos</li>
      <li>Apêndices</li>
      <li>Planilha</li>
      <li>TEC - Alert</li>
      <li>Di Alert</li>
      <li>Manual do Usuário</li>
  </ul>
</section>
