@use '../../../app/styles/variables.scss' as *;

.main-container {
  width: 80%;
  float:left;
  margin: 10px;
 padding: 0.1rem 1rem;
  border:0px solid pink;
}

a.btn-add {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .main-container{
    width: auto;
}

}
