/* @use 'styles/_variable.scss' as *; */
@use './styles/variables.scss' as *;

aside {
  float:left;
  width:15%;
  padding: 0;
  align-items: center;
}




html body {
  outline:2px solid blue;
  background: yellow;
}
