.container-form {
  padding: 0;
  max-width: 600px;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color:white;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  background: #414040;
  border: 1px solid gray;
  border-radius: 4px;
  color:white;
}
button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="submit"] {
  background: #d47517;
  background: linear-gradient(360deg,rgba(212, 117, 23, 1) 0%, rgba(242, 175, 45, 1) 54%, rgba(242, 175, 45, 1) 100%);
  color: #5c0000;
  font-weight: bold;
}
button[type="button"] {
  background-color: #6c757d;
  color: white;
   font-weight: bold;
}


