<h1 class="nav-title">Home » Catalogo de Produtos » Dashboard</h1>
<div class="flex-container">
<div>

  <h1>Catalogos <span class="material-symbols-outlined icon">more_vert</span></h1>
  <p>Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. </p>

  <span class="item">
    <div><figure class="fig1"></figure></div><!-- <img src="/assets/icones-dashboard/quantidade.png"> -->
    <div>
      <span>{{posts.length }}</span><br />
      Quantidade Total
    </div>
  </span>


  <span class="item">
    <div><figure class="fig2"></figure></div>
    <div>
      <span>{{posts.length }}</span><br />
      Pendentes
    </div>
  </span>

  <span class="item">
    <div><figure class="fig3"></figure></div>
    <div>
      <span>{{posts.length }}</span><br />
      Validados
    </div>
  </span>

  <span class="item">
    <div><figure class="fig4"></figure></div>
    <div>
      <span>{{posts.length }}</span><br />
      Transmitidos
    </div>
  </span>
</div>

<div>
  <h1>Catalogos <span class="material-symbols-outlined icon">more_vert</span></h1>
  <p>Lorem ipsum dolor sit amet, consectetur<br /> adipiscing elit. </p>

  <span class="item">
    <div><img src="/assets/icones-dashboard/quantidade.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Quantidade Total
    </div>
  </span>


  <span class="item">
    <div><img src="/assets/icones-dashboard/pendentes.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Pendentes
    </div>
  </span>

  <span class="item">
    <div><img src="/assets/icones-dashboard/validados.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Validados
    </div>
  </span>

  <span class="item">
    <div><img src="/assets/icones-dashboard/transmitidos.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Transmitidos
    </div>
  </span>
</div>

<div>
  <h1>Catalogos <span class="material-symbols-outlined icon">more_vert</span></h1>
  <p>Lorem ipsum dolor sit amet, consectetur<br /> adipiscing elit. </p>

  <span class="item">
    <div><img src="/assets/icones-dashboard/quantidade.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Quantidade Total
    </div>
  </span>


  <span class="item">
    <div><img src="/assets/icones-dashboard/pendentes.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Pendentes
    </div>
  </span>

  <span class="item">
    <div><img src="/assets/icones-dashboard/validados.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Validados
    </div>
  </span>

  <span class="item">
    <div><img src="/assets/icones-dashboard/transmitidos.png"></div>
    <div>
      <span>{{posts.length }}</span><br />
      Transmitidos
    </div>
  </span>
</div>

<div class="notify">
  <h1>Notificações <span class="material-symbols-outlined icon">more_vert</span></h1>
  <p>Lorem ipsum dolor sit amet, consectetur<br /> adipiscing elit. </p>


  <span class="item last">

      <h2>{{posts.length }}</h2>
      <p>Notificações</p>

      <small>Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit. </small>

  </span>
</div>


</div>
